<h1> <%= title %></h1>

<br>

<section id="feed-posts">
    <form action="/posts/create-post" id="new-post-form" method="POST">
        <div class="form-group">
            <textarea class="form-control" name="content" style="max-width: 500px; margin: auto; opacity: 0.6;" rows="2" placeholder="Write a post.." required></textarea>
        </div>
        <input class="btn btn-secondary" type="submit" value="Post">
    </form>
</section>

<div class="posts-list-container">
    <% for (p of posts) { %>
        <div class="post">
            <div class="posted-by"><%= p.user.name %></div>
            <div class="created-at"><%= moment(p.createdAt).format( 'Do MMM \'YY, h:mm a') %></div>
            <div class="post-content"><%= p.content %></div>
            <% if (locals.user.id == p.user.id) { %>
                <div class="delete-button" title="Delete">
                    <a href="/posts/destroy-post/<%= p._id %> ">
                        Delete post<i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            <% } %>
            <div class="add-comments">
                <form action="/comments/create-comment" method="POST">
                    <div class="input-group mb-3">
                        <input class="form-control shadow-none add-comment-input" type="text" name="content" placeholder="Add a comment..." required>
                        <input type="hidden" name="post" value="<%= p._id %>">
                        <div class="input-group-append">
                            <input class="btn btn-primary input-group-append" type="submit" value="Add">
                        </div>
                    </div>
                </form>
            </div>
            <% if (p.comments.length >0) { %>
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse<%= p._id %>" aria-expanded="true" aria-controls="<%= p._id %>">
                    <%= p.comments.length %> Comments
                </button>
            <% } %>
            <div id="collapse<%= p._id %>" class="collapse">
                <div class="comments-list">
                    <% for (c of p.comments) { %>
                        <div class="comment-item">
                            <div class="comment-item-user"><%= c.user.name %></div>
                            <div class="comment-item-content"><%= c.content %></div>
                            <% if (locals.user.id == c.user.id) { %>
                                <div class="delete-button" title="Delete">
                                    <a href="/comments/destroy-comment/<%= c._id %> ">
                                        Delete comment<i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                            <% } %>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    <% } %>
</div>