<link rel="stylesheet" href="/css/home.css">

<script src="/js/home_posts.js"></script>
<script src="/js/home_comments.js"></script>
<script src="/js/home_actionbar.js"></script>

<main>
    <aside id="user-friends">
        <h4 id="user-friends-title">Friends</h4>
        <div class="list-group">

        </div>
        <% for (u of all_users) { %>
            <!-- <i class="fas fa-user-circle fa-lg"></i> -->
            <a href="/users/profile/<%= u.id %>"  title="Delete post" class="list-group-item list-group-item-action">
                <i class="fas fa-user-circle fa-lg"></i>
                    <%= u.name %> 
            </a>
        <% } %>
    </aside>
    
    <section id="home-page-posts">
        <div id="feed-posts">
            <form action="/posts/create-post" id="new-post-form" method="POST">
                <div class="form-group">
                    <textarea class="form-control" name="content" style="max-width: 500px; margin: auto; opacity: 0.6;" rows="2" placeholder="Write a post.." required></textarea>
                </div>
                <input class="btn btn-secondary" type="submit" value="Post">
            </form>
        </div>
        
        <div id="posts-list-container">
            <% for (p of posts) { %>
                <div class="post" id="<%= p._id %>">
                    <div class="posted-by"><%= p.user.name %></div>
                    <div class="created-at"><%= moment(p.createdAt).format( 'Do MMM \'YY, h:mm a') %></div>
                    <div class="post-content"><%= p.content %></div>
                    
                    <div class="actionbar-container">
                        <i class="far fa-thumbs-up like-button">
                            <span>0</span>
                        </i>
                        <i class="far fa-comment comment-button" data-toggle="collapse" data-target="#collapse<%= p._id %>" aria-expanded="true" aria-controls="<%= p._id %>">
                            <span>
                                <%= p.comments.length %>
                            </span>
                        </i>
                        <% if (locals.user.id == p.user.id) { %>
                            <a class="delete-post-button" href="/posts/destroy-post/<%= p._id %> ">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        <% } %>
                    </div>

                    <div id="collapse<%= p._id %>" class="collapse">

                        <div class="add-comments-container">
                            <form class="add-comment-form" action="/comments/create-comment" method="POST">
                                <div class="input-group mb-3">
                                    <input class="form-control shadow-none add-comment-input" type="text" name="content" placeholder="Add a comment..." required>
                                    <input type="hidden" name="post" value="<%= p._id %>">
                                    <div class="input-group-append">
                                        <input class="btn btn-primary input-group-append" type="submit" value="Add">
                                    </div>
                                </div>
                            </form>
                        </div>
                    
                        <div class="comments-list">
                            <% for (c of p.comments) { %>
                                <div class="comment-item" id="<%= c._id %>">
                                    <div class="comment-item-user"><%= c.user.name %></div>
                                    <div class="comment-item-content"><%= c.content %></div>
                                    <% if (locals.user.id == c.user.id) { %>
                                        <div title="Delete">
                                            <a class="delete-comment-button" href="/comments/destroy-comment/<%= c._id %> ">
                                                Delete comment<i class="fas fa-trash-alt"></i>
                                            </a>
                                        </div>
                                    <% } %>
                                </div>
                            <% } %>
                        </div>


                    </div>
                </div>
            <% } %>
        </div>
    </section>
    
    
</main>



