<link rel="stylesheet" href="/css/user_profile.css">




<div class="row gutters-sm">
<div class="col-md-4 mb-3">
    <div class="card">
        <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
                <img src="<%= profile_user.avatar %>" alt="Profile pic" class="rounded-circle" width="150">
                <div class="mt-3">
                    <h4><%= profile_user.name %></h4>
                    <p class="text-secondary mb-3"><%= profile_user.description %></p>
                    <% if (user.id != profile_user.id) { %>
                        <% if (friendship_status == 'friends') { %>
                            <button id="friend-button" class="btn btn-success btn-sm">Friends</button>
                        <% } else if (friendship_status == 'pending-approval') { %>
                            <button id="friend-button" class="btn btn-outline-primary btn-sm" href="/friends/approve-request/?fromUser=<%= user.id %>&toUser=<%= profile_user.id %>">Approve friend request</button>
                        <% } else if (friendship_status == 'request-sent') { %>
                            <button id="friend-button" class="btn btn-outline-primary btn-sm">Friend request sent</button>
                        <% } else if (friendship_status == 'not-friends') { %>
                            <button id="friend-button" class="btn btn-primary btn-sm" href="/friends/send-request/?fromUser=<%= user.id %>&toUser=<%= profile_user.id %>">Add as a friend</button>
                        <% } %>
                        
                        <button class="btn btn-outline-primary btn-sm">Message</button>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-8">
    <div class="card mb-3">
    <div class="card-body">
        <div class="row">
        <div class="col-sm-3">
            <h6 class="mb-0">Name</h6>
        </div>
        <div class="col-sm-9 text-secondary">
            <%= profile_user.name %>
        </div>
        </div>
        <hr>
        <div class="row">
        <div class="col-sm-3">
            <h6 class="mb-0">Email</h6>
        </div>
        <div class="col-sm-9 text-secondary">
            <%= profile_user.email %>
        </div>
        </div>
        <hr>
        <div class="row">
        <div class="col-sm-3">
            <h6 class="mb-0">Mobile</h6>
        </div>
        <div class="col-sm-9 text-secondary">
            <%= profile_user.mobile %>
        </div>
        </div>
        <hr>
        <div class="row">
        <div class="col-sm-3">
            <h6 class="mb-0">Address</h6>
        </div>
        <div class="col-sm-9 text-secondary">
            <%= profile_user.address %>
        </div>
        </div>
        <% if (user.id == profile_user.id) { %>
            <hr>
            <div class="row">
                <div class="col-sm-12">
                    <a class="btn btn-info btn-sm mt-2" href="/users/update/<%= profile_user.id %>">Edit</a>
                </div>
            </div>
        <% } %>
    </div>
</div>
</div>
</div>

<script src="/js/profile_friendships.js"></script>